/* здесь используйте глобальные селекторы img, body, html и так далее */
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: contain;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

