@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}

@mixin text-description {
  font-family: $primary-font;
  font-size: $title-5;
  line-height: 18px;
  color: $secondary-color-text;
}

