/* здесь используйте глобальные переменные */
$base-color-text: #000000;

$secondary-color-text: #444444;

$tertiary-color-text: #ffffff;

$catalog-color-text: #222222;

$bg-basic-green: #68b738;

$bg-ligth-grey: #f2f2f2;

$bg-dark-grey: #eaeaea;

$bg-product-card: #cdcdcd;
