.additional-catalog__title {
  font-size: $title-2;
  line-height: 24px;
}

.additional-catalog__name {
  font-size: $title-4;
  line-height: 16px;
  color: $catalog-color-text;
  text-transform: uppercase;
}

.additional-catalog__amount {
  font-family: $primary-font;
  font-size: $title-5;
  line-height: 14px;
  color: $secondary-color-text;
}
