.advantages__title {
  font-family: $font-secondary;
  font-size: $font-size-l;
  line-height: 40px;
  text-align: left;
  margin: 0 0 40px;
  padding: 0;
}

.advantages__list {
  @include reset-list;
  counter-reset: count 0;
  display: flex;
  flex-flow: column wrap;
  // justify-content: flex-start;
}

//

// &::before {
//   content: "";
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 60px;
//   height: 60px;
//   background-color: $bg-green;
// }

.advantages__item {
  // position: relative;
  padding: 0;
  margin: 0 0 20px;

  &::before {
    display: inline-block;
    content: "";
    // position: absolute;
    background-color: $bg-green;
    background-position: 50%;
  }
}

.advantages__item--icon-leaf {
  &::before {
    display: block;
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../../icons/stack.svg#icon_leaf");
    background-repeat: no-repeat;
    background-size: 25px 28px;
  }
}

.advantages__item--icon-water {
  &::before {
    display: block;
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../../icons/stack.svg#icon-water");
    background-repeat: no-repeat;
    background-size: 30px 29px;
  }
}

.advantages__item--icon-eat {
  &::before {
    display: block;
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../../icons/stack.svg#icon_eat");
    background-repeat: no-repeat;
    background-size: 26px 29px;
  }
}

.advantages__item--icon-period {
  &::before {
    display: block;
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../../icons/stack.svg#icon-watch");
    background-repeat: no-repeat;
    background-size: 26px 31px;
  }
}

.advantages__text {
  padding-left: 20px;
}
