.button {
  padding: 10px 15px;
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  display: grid;
  align-items: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;


  &:hover {
    background-color: $bg-green-darken;
  }

  &:active {
    background-color: $bg-green-darken;
    color: rgba($tertiary-color-text, 0.3);
  }
}

.button--primary {
  background-color: $bg-green;
  color: $tertiary-color-text;
}

.button--secondary {
  background-color: $bg-green;
  color: $tertiary-color-text;
  padding: 10px 26px;
}

.button--show-more {
  color: $secondary-color-text;
  background-color: $basic-grey;

  &:hover,
  &:active {
    background-color: $special-grey_4;
  }
}
