.button {
  font-family: $secondary-font;
  font-size: $title-4;
  line-height: $line-height-6;
  color: $tertiary-color-text;
  background-color: $bg-green;
  text-decoration: none;
  text-transform: uppercase;
}

.button--show-more {
  color: $secondary-color-text;
  background-color: $bg-ligth-grey;
}

.button--tertiary {
  font-size: $title-3;
  line-height: $line-height-4;
}

