.catalog__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}

.catalog__item {
  font-family: $font-primary;
  font-size: 12px;
  line-height: 16px;
  color: $secondary-color-text;

  @media (min-width: $tablet-width) {
    width: 250px;
    height: 390px;
    background-color: $basic-grey;
    font-size: $font-size-s;
    line-height: 20px;
    padding: 0 37px 40px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    height: 390px;
    padding: 0 38px 40px;
  }
}

.catalog__item-title {
  font-family: $font-secondary;
  font-size: $font-size-s;
  line-height: 20px;
  color: $catalog-item-text;
}

.catalog__item-text {
  font-family: $font-primary;
  font-size: 12px;
  line-height: 16px;
  color: $secondary-color-text;
}
