.contacts__slogan {
  font-family: $secondary-font;
  font-size: $title-4;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  font-size: $title-5;
  line-height: 20px;
  color: $secondary-color-text;
}
