

.copyright__link {
  align-self: flex-end;
  margin: 0;
}

.copyright__link:hover::after,
.copyright__link:focus::after {
  background-color: $bg-green;
}

.copyright__link:active::after {
  background-color: rgba(104, 183, 56, 0.3);
}

.copyright__text {
  position: relative;
  font-size: $font-size-s;
  line-height: 20px;
  color: $secondary-color-text;
  padding-right: 140px;

  &::after {
    display: block;
    position: absolute;
    right: 0;
    content: "";
    width: 27px;
    height: 34px;
    mask-image: url("../../icons/stack.svg#icon-html_academy");
    mask-size: 27px 34px;
    background-color: $social-grey;
  }
}

.copyright__text:active {
  opacity: 0.3;
}
