.form {
  width: 100%;
}

.form__field {
  margin-bottom: 15px;
  padding: 13px;
  font-family: $font-secondary;
  font-size: 20px;
  line-height: 30px;
  color: $secondary-color-text;
  width: 496px;
  text-transform: uppercase;
  border: 1px solid $special-grey_3;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form__button {
  width: 256px;
  min-height: 56px;
  font-size: 20px;
  line-height: 26px;
}
