.hero {
  font-family: $font-secondary;
  color: $tertiary-color-text;
  background-image: url("../../images/background/hero-background@1x.png");
  background-repeat: no-repeat;
  background-size: auto 302px;
  background-position: center top;

  &::before {
    @media (min-width: $desktop-width) {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      background-image: url("../../images/background/hero-background@1x.png");
      background-repeat: no-repeat;
      width: 50%;
      height: 694px;
      z-index: -1;
    }
  }

  @media (min-width: $tablet-width) {
    background-color: $tertiary-color-text;
    background-image: none;
  }
}

.hero__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
  }
}

.hero__title {
  font-size: $font-size-l;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding: 27px 15px 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 520px;
    font-size: 60px;
    line-height: 60px;
    color: $base-color-text;
    padding: 66px 0 40px 90px;
    text-align: left;
  }
}

.hero__slogan {
  font-size: $font-size-xs;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 29px;
  padding: 0 42px 0 40px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $base-color-text;
    margin: 0 0 21px;
    padding: 0 0 0 90px;
    text-align: left;
  }
}

.hero picture {
  @media (min-width: $tablet-width) {
    display: contents;
  }
}


.hero__button {
  font-size: $font-size-s;
  line-height: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 370px;
    left: 120px;
    width: 244px;
    min-height: 34px;
    font-size: 20px;
    line-height: 26px;
  }
}
