.hero {
  height: 480px;
  margin-bottom: 20px;
  font-family: $font-secondary;
  color: $tertiary-color-text;
  background-image:
    linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 63%, $tertiary-color-text 63%),
    image-set(
      url("../../images/background/hero-background-mobile@1x.jpg") 1x,
      url("../../images/background/hero-background-mobile@2x.jpg") 2x),
    linear-gradient(to right, $gradient-first 50%, $gradient-two 50%);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: auto;
  background-position: center top;

  &::before {
    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      top: 0;
      left: auto;
      right: 0;
      background-image:
        linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        image-set(
          url("../../images/background/hero-background-desktop@1x.jpg") 1x,
          url("../../images/background/hero-background-desktop@2x.jpg") 2x),
        linear-gradient(to right, $gradient-three, $gradient-three);
      background-repeat: no-repeat, no-repeat;
      width: 50%;
      height: 694px;
      z-index: -1;
    }
  }

  @media (min-width: $tablet-width) {
    height: 875px;
    background-color: $tertiary-color-text;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    height: 580px;
    margin-bottom: 82px;
  }
}

.hero__image {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 143px;
    right: 331px;
  }
}

.hero__title {
  font-size: $font-size-l;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding: 27px 15px 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 520px;
    font-size: 60px;
    line-height: 60px;
    color: $base-color-text;
    padding: 66px 0 40px 90px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 110px 0 40px 80px;
    margin: 0 0 0 80px;
  }
}

.hero__slogan {
  font-size: $font-size-xs;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 29px;
  padding: 0 42px 0 40px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $base-color-text;
    margin: 0 0 21px;
    padding: 0 0 0 90px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 52px 80px;
  }
}

.hero__button {
  display: block;
  font-size: $font-size-s;
  line-height: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 370px;
    left: 120px;
    width: 244px;
    min-height: 34px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 80px;
    position: static;
  }
}

