.hero {
  font-family: $secondary-font;
  color: $tertiary-color-text;
  background-color: $bg-green-lighter;
  text-transform: uppercase;
}

.hero__title {
  font-size: $title-1;
  line-height: 36px;
}

.hero__slogan {
  font-size: $title-5;
  line-height: 14px;
}

