.logo {
  height: 65px;
  display: flex;
  gap: 56px;
  align-items: center;

  @media (min-width: $tablet-width) {
    .logo {
      width: 174px;
      height: 50px;
      gap: 16px;
    }
  }

  @media (min-width: $desktop-width) {
    .logo {
      width: 202px;
      height: 59px;
      gap: 14px;
    }
  }

  .logo:hover {
    opacity: 0.8;
  }

  .logo:active {
    opacity: 0.6;
  }
}

.logo__no-icon {
  margin: 0;
}

