.logo {
  height: 65px;

  @media (min-width: $tablet-width) {
    .logo {
      width: 174px;
      height: 50px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}
