.logo {
  height: 65px;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;

  @media (min-width: $tablet-width) {
    .logo {
      height: 50px;
    }
  }
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}
