.main-footer {
  background-color: $basic-grey;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: 40px 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 55px 0;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 0;
  }
}
