.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    padding-bottom: 0;
  }
}

.main-header__logo {
  display: flex;
  gap: 56px;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 174px;
    gap: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}
