.main-header {
  // border-bottom: 1px solid $special-grey_3;
  padding-block: 13px 11px;

  @media (min-width: $tablet-width) {
    border: none;
    padding-block: 21px;
  }
}

.main-header--hero {
  .navigation__link {
    @media (min-width: $desktop-width) {
      color: $tertiary-color-text;
    }
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 13px; //new
  // margin: 0 auto;
  // padding-top: 13px;
  // padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    // padding-top: 25px;
    // padding-bottom: 0;
  }


  @media (min-width: $desktop-width) {
    padding-top: 29px;
    padding-bottom: 0;
  }
}

.main-header__logo {
  display: flex;
  gap: 56px;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 174px;
    gap: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}
