.navigation {
  //
}

.navigation__toggle {
  width: 24px;
  height: 24px;
  background-image: url("../../icons/stack.svg#navigation__toggle-open");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-color: $tertiary-color-text;
  border: none;
}

.navigation__toggle--close {
  background-image: url("../../icons/stack.svg#navigation__toggle-close");
  background-color: $tertiary-color-text;
}

.navigation__list {
  font-family: $font-secondary;

  @include reset-list;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.navigation__link {
  font-size: 20px;
  line-height: 20px;
  color: $base-color-text;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .navigation__wrapper {
    display: flex;
    justify-content: space-between;
    width: 436px;
  }

  .navigation__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .navigation__wrapper {
    width: 475px;
  }
}
