.navigation__toggle {
  width: 24px;
  height: 24px;
  background-image: url("../../icons/stack.svg#navigation__toggle-open");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  border: none;
}

.navigation__toggle--close {
  background-image: url("../../icons/stack.svg#navigation__toggle-close");
}

.navigation__list {
  font-family: $font-secondary;
  list-style-type: none;
}

.navigation__link {
  font-size: 20px;
  line-height: 20px;
  color: $base-color-text;
  text-transform: uppercase;
  text-decoration: none;
}
