.page {
  height: 100%;
  font-family: $font-primary;
  font-size: $font-size-xs;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding: 0 64px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 110px;
  }
}

.page__body {
  min-height: 100%;
  color: $secondary-color-text;
  background-color: $tertiary-color-text;
}

