.product-card {
  padding: 20px 0 25px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 37px 40px;
    background: linear-gradient(to top, $basic-grey 81%, $tertiary-color-text 81%);
  }
}

.product-card__link-image {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50%;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 210px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;
  }
}

.product-card__property-wrapper {
  width: 50%;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    //
  }
}

.product-card__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: $font-secondary;
  font-size: $font-size-s;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
  }
}

.product-card__link-title {
  display: block;
  width: 76px;
  margin: 0 auto;
  margin-bottom: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $catalog-color-text;

  @media (min-width: $tablet-width) {
    width: 135px;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    width: 140px;
    margin-bottom: 23px;
  }
}

.product-card__property {
  display: flex;
  justify-content: space-between;
  margin: 0 0 12px;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $special-grey_3;
  }
}

.product-card__value {
  margin: 0;
  white-space: nowrap;
}


.product-card__button {
  width: 100%;
  margin-top: 17px;
}
