.product-card {
  padding: 20px 0 25px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    padding: 10 37px 40px;
    background: linear-gradient(to top, $basic-grey 85%, $tertiary-color-text 85%);
    align-items: center;
    justify-content: stretch;
    min-height: 429px;
  }
}

.product-card__link-image {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-height: 107px;
  width: 140px;


  @media (min-width: $tablet-width) {
    width: 100%;
    height: 210px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;
  }
}

.product-card__title {
  margin: 0;
  min-height: 45px;
  padding-top: 17px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    align-self: center;
  }
}

.product-card__link-title {
  display: block;
  width: 76px;
  text-align: start;
  text-decoration: none;
  color: $catalog-color-text;

  @media (min-width: $tablet-width) {
    width: 135px;
    text-align: center;
    // margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 140px;
    margin-bottom: 23px;
  }
}

.product-card__property-wrapper {
  width: 50%;

  @media (min-width: $tablet-width) {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    //
  }
}

.product-card__property {
  display: flex;
  justify-content: space-between;
  margin: 0;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $special-grey_3;
    padding-bottom: 5px;
  }
}

.product-card__value {
  margin: 0;
  // padding-right: 2px;
  white-space: nowrap;
}

.product-card__button {
  width: 100%;
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    height: 40px;
  }
}
