.programm {
  background-color: $basic-grey;
  text-transform: uppercase;
}

.programm__list {
  list-style-type: none;
}

.programm__item {
  width: 280px;

}

.programm__title {
  font-family: $font-secondary;
  font-size: $font-size-m;
  line-height: 37px;
}

.programm__text {
  @include text-description;
  text-transform: none;
}

.programm__button {
  font-family: $font-secondary;
  font-size: $font-size-xs;
  line-height: 18px;
  color: $base-color-text;

  &::before {
    display: block;
    content: "";
    width: 32px;
    height: 10px;
    mask-image: url("../../icons/stack.svg#icon_arrow");
    mask-repeat: no-repeat;
    mask-size: 32px 10px;
    background-color: $base-color-text;
  }

  &:active {
    opacity: 0.3;
  }
}
