.programm {
  text-transform: uppercase;
}

.programm__list {
  @include reset-list;
}

.programm__item {
  background-color: $basic-grey;
  margin-bottom: 20px;
  padding: 24px 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.programm__title {
  font-family: $font-secondary;
  font-size: $font-size-m;
  line-height: 37px;
  color: $base-color-text;

  @media (min-width: $tablet-width) {
    font-size: $font-size-l;
    line-height: 36px;
  }
}

.programm__text {
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: $font-size-s;
    line-height: 24px;
  }
}

.programm__button {
  position: relative;
  font-family: $font-secondary;
  font-size: $font-size-xs;
  line-height: 18px;
  color: $base-color-text;
  width: 134px;
  display: flex;

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 32px;
    height: 10px;
    mask-image: url("../../icons/stack.svg#icon_arrow");
    mask-repeat: no-repeat;
    mask-size: 32px 10px;
    background-color: $base-color-text;
    margin-left: 98px;
    top: 4px;
  }

  &:active {
    opacity: 0.3;
  }
}
