.social__list {
  list-style-type: none;
}

.social__link--vkontakte {
  &::before {
    display: block;
    content: "";
    width: 28px;
    height: 22px;
    mask-image: url("../../icons/stack.svg#vk");
    mask-repeat: no-repeat;
    mask-size: 27px 17px;
    background-color: $social-grey;
  }
}

.social__link--vkontakte:hover::before,
.social__link--vkontakte:focus::before {
  background-color: $bg-green;
}

.social__link--vkontakte:active::before {
  background-color: rgba(104, 183, 56, 0.3);
}

.social__link--youtube {
  &::before {
    display: block;
    content: "";
    width: 28px;
    height: 22px;
    mask-image: url("../../icons/stack.svg#yt");
    mask-repeat: no-repeat;
    mask-size: 24px 19px;
    background-color: $social-grey;
  }
}

.social__link--youtube:hover::before,
.social__link--youtube:focus::before {
  background-color: $bg-green;
}

.social__link--youtube:active::before {
  background-color: rgba(104, 183, 56, 0.3);
}

.social__link--telegram {
  &::before {
    display: block;
    content: "";
    width: 28px;
    height: 22px;
    mask-image: url("../../icons/stack.svg#tg");
    mask-repeat: no-repeat;
    mask-size: 20px 17px;
    background-color: $social-grey;
  }
}

.social__link--telegram:hover::before,
.social__link--telegram:focus::before {
  background-color: $bg-green;
}

.social__link--telegram :active::before {
  background-color: rgba(104, 183, 56, 0.3);
}
