.social__list {
  list-style-type: none;
}

.social__link--vkontakte {
  display: block;
  mask-image: url("../../icons/stack.svg#vk");
  mask-repeat: no-repeat;
  width: 28px;
  height: 22px;
}

.social__link--youtube {
  display: block;
  mask-image: url("../../icons/stack.svg#yt");
  mask-repeat: no-repeat;
  width: 28px;
  height: 22px;
}

.social__link--telegram {
  display: block;
  mask-image: url("../../icons/stack.svg#tg");
  mask-repeat: no-repeat;
  background-color: #663399;
  width: 28px;
  height: 22px;
}
