.statistics {
  background-color: $bg-dark-grey;
}

.statistics__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
}

.statistics__text {
  @include text-description;
}

.statistics__list {
  list-style-type: none;
}

.statistics__number {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
}

.statistics__description {
  @include text-description;
  font-size: 12px;
  line-height: 12px;
}
