.widgit-action {
  background-color: $bg-green-lighter;
  margin-top: 35px;
  background-image: url("../../images/background/widgit-background@1x.png");

  @media (min-width: $tablet-width) {
    //
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 113px;
    right: 29px;
    width: 245px;
    height: 288px;
    margin: 0;
  }
}

.widgit-action__text {
  font-family: $font-primary;
  font-size: $font-size-s;
  line-height: 20px;
  color: $tertiary-color-text;
  margin: 0;
  padding: 60px 61px 43px 58px;
  text-align: center;

  &::before {
    display: block;
    content: "";
    margin: auto;
    margin-bottom: 48px;
    right: 0;
    left: 0;
    width: 78px;
    height: 80px;
    background-image: url("../../icons/stack.svg#icon_gift");
    background-repeat: no-repeat;
    background-size: 78px 80px;
  }

  @media (min-width: $tablet-width) {
    padding: 56px 42px 43px;
  }
}
